In [1]:
import numpy as np

In [2]:
mylist=[1,2,3,4]

In [3]:
type(mylist)

list

In [4]:
np.array(mylist)

array([1, 2, 3, 4])

In [5]:
mylist=[[1,2,3],[4,5,6],[7,8,9]]

In [6]:
np.array(mylist)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
matrix=np.array(mylist)

In [8]:
matrix.shape

(3, 3)

In [10]:
np.arange(0,4,2)

array([0, 2])

In [12]:
np.ones((3,3))+4 #can't do this on a normal python list

array([[5., 5., 5.],
       [5., 5., 5.],
       [5., 5., 5.]])

In [15]:
np.linspace(0,10,20)

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [16]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [17]:
np.random.randint(1,100,4) #start limit, end limit, number of numbers 
#is evenly distrubuted, meaning, every number has equal probability to be chosen

array([82, 90, 15, 10])

In [21]:
np.random.seed(101) #removes the even distribution part, meaning, the same numbers are generated as long as the two lines are in the same cell
np.random.rand(4)

array([0.51639863, 0.57066759, 0.02847423, 0.17152166])

In [32]:
arr=np.arange(25)

In [33]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [34]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [29]:
randomarr=np.random.randint(1,10,10)

In [36]:
randomarr

array([5, 9, 6, 1, 6, 9, 2, 4, 9, 4])

In [37]:
randomarr.max()

9

In [38]:
randomarr.min()#returns value

1

In [39]:
randomarr.argmax()

1

In [40]:
randomarr.argmin() #returns index

3

In [41]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [42]:
arr[5]

5

In [43]:
arr[1:10]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [44]:
arr[:]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [47]:
arr=np.arange(11)

In [48]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [49]:
sli=arr[:5] #a pointer, not a copy

In [50]:
sli

array([0, 1, 2, 3, 4])

In [57]:
 sli[:]=99 #changes made here will be reflected in arr

In [61]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [63]:
arr_2d=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [64]:
arr_2d.shape

(3, 3)

In [66]:
arr_2d[2]

array([7, 8, 9])

In [67]:
arr_2d[:2,1:] #slicing of the array

array([[2, 3],
       [5, 6]])

In [68]:
arr=np.arange(11)

In [69]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [71]:
boolean= arr>4

In [72]:
boolean

array([False, False, False, False, False,  True,  True,  True,  True,
        True,  True])

In [73]:
arr[boolean]

array([ 5,  6,  7,  8,  9, 10])

In [74]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [80]:
arr_2d=np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])

In [81]:
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [82]:
arr_2d.sum(axis=0) #coloumn wise sums

array([22, 26, 30])

In [83]:
arr_2d.sum(axis=1)#row wise sum

array([ 6, 15, 24, 33])

In [84]:
arr=np.zeros(10)

In [85]:
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [86]:
arr=np.ones(10)

In [87]:
arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [88]:
arr=arr*5

In [89]:
arr

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [90]:
arr=np.arange(10,51)

In [91]:
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [92]:
arr=np.arange(10,51,2)

In [93]:
arr

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [94]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [95]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [96]:
arr=np.eye(3)

In [97]:
arr

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [98]:
np.random.rand()

0.2323536618147607

In [99]:
np.random.rand(25)

array([0.08356143, 0.60354842, 0.72899276, 0.27623883, 0.68530633,
       0.51786747, 0.04848454, 0.13786924, 0.18696743, 0.9943179 ,
       0.5206654 , 0.57878954, 0.73481906, 0.54196177, 0.91315356,
       0.80792015, 0.40299783, 0.35722434, 0.95287671, 0.34363158,
       0.86509982, 0.83027771, 0.53816145, 0.92246937, 0.09714648])

In [100]:
arr=np.arange(1,101)

In [101]:
arr

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [102]:
arr=arr/100

In [103]:
arr

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

In [104]:
arr=np.linspace(0,1,20)

In [105]:
arr

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [106]:
mat=np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [107]:
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [109]:
mat[3,4]

20

In [114]:
mat[:3, 1].reshape(3,1)

array([[ 2],
       [ 7],
       [12]])

In [120]:
mat[4:]

array([[21, 22, 23, 24, 25]])

In [123]:
mat[mat>=16].reshape(2,5)

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [124]:
mat.sum()

325

In [125]:
mat.std()

7.211102550927978

In [126]:
mat.sum(axis=0)

array([55, 60, 65, 70, 75])

In [127]:
import pandas as pd

In [129]:
arr=[10,20,30]

In [133]:
mylist=np.array(arr)
mylist

array([10, 20, 30])

In [134]:
labels=['a','b','c']

In [135]:
pd.Series(data=mylist, index=labels)

a    10
b    20
c    30
dtype: int32

In [136]:
ser1=pd.Series([1,2,3,4], index=['USA', 'Japan', 'Germany', 'Italy'])
ser1

USA        1
Japan      2
Germany    3
Italy      4
dtype: int64

In [137]:
ser2=pd.Series([1,2,3,4], index=['USA', 'Germany', 'Japan', 'Belgium'])
ser2

USA        1
Germany    2
Japan      3
Belgium    4
dtype: int64

In [138]:
ser1+ser2

Belgium    NaN
Germany    5.0
Italy      NaN
Japan      5.0
USA        2.0
dtype: float64

In [139]:
from numpy.random import randn 
np.random.seed(101)
rand_mat=randn(5,4)

In [140]:
rand_mat

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [144]:
df=pd.DataFrame(data=rand_mat, index='A B C D E'.split(), columns='W X Y Z'.split())

In [145]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [147]:
mylist=['W', 'Y']
df[mylist]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [150]:
df['NEW']=df['W']+df['Y']
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [155]:
df.drop('NEW', axis=1, inplace=True) #axis=1 means coloumn, nothing mentioned means row

In [156]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [160]:
df.iloc[[0,3]] #iloc for index based

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
D  0.188695 -0.758872 -0.933237  0.955057

In [161]:
df.loc['A'] #loc for name based

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [162]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [163]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [170]:
df[df['Y']>0]['Z'].loc['A']

0.5038257538223936

In [171]:
cond1=df['Y']>0
cond2=df['Z']>0

In [172]:
df[cond1 & cond2]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [173]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [174]:
new_col='Hyd Che Mum Del Kol'.split()
df['City']=new_col

In [175]:
df

          W         X         Y         Z City
A  2.706850  0.628133  0.907969  0.503826  Hyd
B  0.651118 -0.319318 -0.848077  0.605965  Che
C -2.018168  0.740122  0.528813 -0.589001  Mum
D  0.188695 -0.758872 -0.933237  0.955057  Del
E  0.190794  1.978757  2.605967  0.683509  Kol

In [177]:
df.set_index('City')

             W         X         Y         Z
City
Hyd   2.706850  0.628133  0.907969  0.503826
Che   0.651118 -0.319318 -0.848077  0.605965
Mum  -2.018168  0.740122  0.528813 -0.589001
Del   0.188695 -0.758872 -0.933237  0.955057
Kol   0.190794  1.978757  2.605967  0.683509

In [178]:
count=df['W']>0
sum(count)

4

In [179]:
count.value_counts()

W
True     4
False    1
Name: count, dtype: int64

In [180]:
data={'Company':['GOOG', 'GOOG', 'MSTF', 'MSTF', 'FB', 'FB'], 'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'], 'Sales':[200,120,340,124,243,350]}

In [181]:
df=pd.DataFrame(data)

In [182]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSTF      Amy    340
3    MSTF  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [187]:
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSTF
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [188]:
df['Company'].unique()

array(['GOOG', 'MSTF', 'FB'], dtype=object)

In [189]:
def squared(number):
    return number*number

In [190]:
new_col=df['Sales'].apply(squared)
df['New']=new_col
df

  Company   Person  Sales     New
0    GOOG      Sam    200   40000
1    GOOG  Charlie    120   14400
2    MSTF      Amy    340  115600
3    MSTF  Vanessa    124   15376
4      FB     Carl    243   59049
5      FB    Sarah    350  122500

In [192]:
del df['New']

In [193]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSTF      Amy    340
3    MSTF  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [196]:
df.sort_values('Person', ascending=False)

  Company   Person  Sales
3    MSTF  Vanessa    124
5      FB    Sarah    350
0    GOOG      Sam    200
1    GOOG  Charlie    120
4      FB     Carl    243
2    MSTF      Amy    340

In [210]:
import os
print(os.listdir())

['.git', '000000000000_Processes Synchronization_05112023120457.pdf', '000000000000_PS2_11112023121510.pdf', '03-Limit, Continuity in Higher Dimension.pptx', '1.sql', '16763569014867651763610541383678.jpg', '2 (1).blend', '2- notes.pptx.pdf', '2.blend', '2.sql', '2022mpireportenpdf.pdf', '20230917_171023.jpg', '20240105_160411.jpg', '20240105_160435.jpg', '20240120_151319 (1).jpg', '20240120_151319-_1_.jpeg', '20240120_151319.jpg', '20240310_103554 (1).jpg', '20240310_103554.jpg', '20240424_234526.jpg', '221000003_Aditya_Chandrakar_ML_6.docx', '221000026_Lab7 (1).docx', '221000028_Lab4.pdf', '221000029_Akhil Shivaram chowdary kommineni.(DC -Assignment 7).pdf', '221000053 ML LAB - 05.pdf', '221000054_Lab1.pdf', '221000054_Networks_Assignment5.docx', '221000060 (1).pdf', '221000060 Varsha ML Lab 5.pdf', '221000060.pdf', '221000060_Exercise1.pdf', '221000060_Lab1.pdf', '221000060_VarshaSriNarla.pdf', '221020403_DSAI_AKSHAT_SHREE_MISHRA_DBMSLAB9.docx', '221020456_TOSHAN_KANWAR_ASSIGNMENT-8.docx', '2nd (1).pdf', '2nd.pdf', '3.pack', '3.sql', '320.pdf', '3576771.png', '3576846.jpg', '3576962.jpg', '3577308.jpg', '4.sql', '5.sql', '5865f7bc-8a5a-4e76-b22b-1a2379b938b5-1.docx', '5_6143041210358435736.pdf', '5_6143041210358435736.xlsx', '6.sql', '666ac4a5f15fe_Myntra-Theme_Document_and_Submission_Template (1).zip', '666ac4a5f15fe_Myntra-Theme_Document_and_Submission_Template.zip', '7.sql', '7a9563fc-d8b1-413f-97d9-d14a365ae3d3.png', '7z2201-x64.exe', '8.sql', '9.sql', '9781405297752.pdf', '9d7d6dc3-21e3-4a65-92dd-f446a8c5ade9 (1).png', '9d7d6dc3-21e3-4a65-92dd-f446a8c5ade9.png', '9ebce90b-af85-4520-b58d-82e762172aa4.pptx', 'A1-LAN_modified.pdf', 'Academic_Fee_Receipt (1).pdf', 'Academic_Fee_Receipt.pdf', 'ACFrOgAZkEC1iGBLbylgCGx3R11UczctZ7mP1tBrJEItFE3Enj4k5OnJ8P38V2_uAcz1ACrQhou7TYlPUZg7BCBkwAsq_ABFzBeu-S0kggaxlEEYoUeqPpaqDYjg51NnE0ABBrrtHzz9iP0SxhtwNZWdaQvLeanSpkNxD1-BEQ== (1).pdf', 'ACFrOgAZkEC1iGBLbylgCGx3R11UczctZ7mP1tBrJEItFE3Enj4k5OnJ8P38V2_uAcz1ACrQhou7TYlPUZg7BCBkwAsq_ABFzBeu-S0kggaxlEEYoUeqPpaqDYjg51NnE0ABBrrtHzz9iP0SxhtwNZWdaQvLeanSpkNxD1-BEQ==.pdf', 'Activity Diagram (1).pdf', 'Activity Diagram.pdf', 'Add a heading.pdf', 'Adobe Scan 17 Feb 2023 (1) (1).pdf', 'Adobe Scan 17 Feb 2023 (1).pdf', 'Adobe Scan Jun 03, 2023.pdf', 'Amazon ML Summer School Previous Year Detailed Solutions.pdf', 'Anaconda3-2023.07-2-Windows-x86_64.exe', 'Anaconda3-2023.09-0-Windows-x86_64.exe', 'android-studio-2022.1.1.21-windows (1).exe', 'android-studio-2022.3.1.18-windows.exe', 'android-studio-2022.3.1.20-windows.exe', 'Anime.csv', 'AnimeRecommendations.csv', 'Application layer.pptx', 'archive (1).zip', 'archive (2).zip', 'archive.zip', 'arduino-1.8.19-windows.exe', 'As Good As Dead.pdf', 'Assignment 3 Matlab.pdf', 'Assignment 5.pdf', 'Assignment 6.pdf', 'Assignment No 1_DLD_CSE_and_DSAI.pdf', 'Assignment-1(221020429).pdf', 'Assignment-1_221020429.pdf', 'Assignment-2_221020429.pdf', 'ASSIGNMENT1-DBMS.docx', 'Assignment1.pdf', 'Assignment2_DSA_221000060.pdf', 'Assignment_1.pdf', 'Assignment_1_221020425.pdf', 'Assignment_2 (1).pdf', 'Assignment_2.pdf', 'Assignment_CSE_221000060.pdf', 'B.Tech 2023-2027_CSE.xlsx', 'B612_20221024_205200_397.jpg', 'bangloreHouse.zip', 'BharatScanner_0309154951.pdf', 'Bikaner Freight Carriers.pdf', 'BingWallpaper.exe', 'BIS_Orientation_Session.pdf', 'blender-3.5.0-windows-x64.msi', 'blynk-server.jar', 'BlynkIOT_SmartPlant_Monitoring_Manual.zip', 'BoardingPass (1).pdf', 'BoardingPass.pdf', 'bodyfat.csv', 'bolts.csv', 'Bonkers Corner Proposal.docx.pdf', 'Book1.pdf', 'BraveBrowserSetup-CUG551.exe', 'Breast_cancer_Data.csv', 'Breast_cancer_Data.csv - Breast_cancer_Data.csv.csv', 'Brute_Force_members (1).xlsx', 'Brute_Force_members.xlsx', 'c538b1cf-6169-4f66-ab4c-1dd8f6e20fed.blob', 'CA Lab Exam.pdf', 'CA Lab Exam_221000060.pdf', 'CA LAB.docx', 'CASIA2.0_revised (1).zip', 'CASIA2.0_revised.zip', 'casia2vit (1).ipynb', 'casia2vit.ipynb', 'certificate', 'ChromeSetup.exe', 'CIDC Proposal Final.docx.pdf', 'City of Glass.pdf', 'client_secret_358741212226-ev7vo2d3riedpuj26ujvmg3mu0mk75j4.apps.googleusercontent.com.json', 'CN Lab Assignment.docx', 'CN_Lab_2ndFeb.pdf', 'CO.pdf', 'codeblocks-20.03-setup.exe', 'commandlinetools-win-9477386_latest', 'commandlinetools-win-9477386_latest.zip', 'company_sales_data.csv', 'Computer Architecture Lab File 221000060.pdf', 'COMPUTER NETWORKS - LAB ASSIGNMENT 2.pdf', 'Computer Networks Lab 5.pdf', 'Computer Networks Lab 6 .pdf', 'Computer Networks Lab 7.pdf', 'concrete.csv', 'contributor badge 2024.png', 'CoolTermWin64Bit', 'CoolTermWin64Bit.zip', 'Coreyo.pdf', 'Cover Letter .pdf', 'Cover Letter Mircrosoft .pdf', 'cowan_statistical_data_analysis.pdf', 'crush fractures.zip', 'CSDL Citation Text Download 2024.3.10.6.5.21.txt', 'Cube.blend', 'Cube.blend1', 'D&Pppt.pptx', 'DAA_lab.cpp', 'DAA_lab.exe', 'data', 'Data Structures and Algorithms - Narasimha Karumanchi.pdf', 'data.zip', 'DBMS Labs Assignment .pdf', 'DC1_221000010.pdf', 'desktop.ini', 'Details_Cold_mail (1).xlsx', 'Development of precise forgery detection algorithms (1).pdf', 'Development of precise forgery detection algorithms.pdf', 'DL1_VarshaSriNarla_221000060.docx.pdf', 'DLD NOTES (1).pdf', 'DLD NOTES (2).pdf', 'DLD NOTES.pdf', 'DMS assignment 1.pdf', 'DMS assignment 2.pdf', "Download free image of Don't look back, you are not going that way motivational quote by Ning about earth tone background, beige paper background, background, beige, and beige background 2520983.jpg", 'DSD_Manual_final (2) (1).pdf', 'DSD_Manual_final (2).pdf', 'EDA (1).docx', 'EDA (2) (1).docx', 'EDA (2).docx', 'EDA.docx', 'EDA.docx.pdf', 'Endsem_Report_M_Sai_Karthik.pdf', 'EXPERIMENT NO - 6.pdf', 'EXPERIMENT-5.docx', 'face_data.csv', 'Fee Notice AUTUMN 2023.pdf', 'feeds (1).csv', 'feeds (2).csv', 'feeds.csv', 'Fig1.jpg', 'finalfinalplantsdatabase (1).json', 'finalfinalplantsdatabase (2).csv', 'finalfinalplantsdatabase.json', 'finalplantsdatabase (1).xlsx', 'finalplantsdatabase.xlsx', 'Final_List_According_to_Format.pdf', 'first.pdf', 'flutter_windows_3.7.10-stable.zip', 'Freq_item_bodyfat_462.csv', 'freq_item_bolts.csv', 'Freq_item_concrete_08.csv', 'gd_linear_regression.py', 'gently-falls-the-bakula-sudha-murty LifeFeeling.pdf', 'Gift Kya De Proposal.docx.pdf', 'gold dataset_investing.xlsx - Monthly.csv', 'Gold_Daily_dataset.csv', 'Gold_Price_monthly_dataset.csv', 'graph theory notes .pdf', 'Gudiya Creations Proposal.docx.pdf', 'H002252.7z', 'hiji.pdf', 'hospitalmanagement-master', 'hospitalmanagement-master.zip', 'Hospital_Management_system-main', 'Hospital_Management_system-main.zip', 'Ideal_Customers_assignment (1).pdf', 'Ideal_Customers_assignment.pdf', 'IEEE-paper-format-template.docx', 'IIITNayaRaipur_abcd1234.pptx', 'IIITNR _ Samsung PRISM Coding Test Interest Form __ July 2024 (Responses) (1).xlsx', 'IITHyd .docx.pdf', 'ILCTechWriting (1).docx', 'ILCTechWriting (2).docx', 'ILCTechWriting.docx', 'imager_1.7.4.exe', 'IMG_20230425_223613.jpg', 'IMG_7806.MOV', 'Import_Template_File (1).csv', 'Import_Template_File (2).csv', 'Import_Template_File.csv', 'index.html', 'Inspiron_Vostro_5420_5620_1.19.0.exe', 'Introduction-to-robotics-analysis-systems-applications-1.pdf', 'IOT.py', 'Jay_s_Resume.pdf', 'jdk-20_windows-x64_bin.exe', 'Jobs to be done.pdf', 'Kaagaz_20230305_205248890749.pdf', 'Kingdom of Ash aesthetic.jpg', 'kmeansclustering.py', 'Kmeans_Clustering_Images.jpg', 'Kmeans_Clustering_Images.jpg.zip', 'LAB TASK 6.pdf', 'laenderbericht-der-schweiz-2018_EN.pdf', 'latest_SCHEDULEWISE_LIST_OF_CPSEs.pdf', 'Least-Squares-Regression-Line-example.xlsx', 'Lecture 10 (Files) (1).pdf', 'Lecture 10 (Files).pdf', 'Lecture 10 Human Population.pptx', 'Lecture 12 (NumPy).pdf', 'Lecture 1_Introduction.ppt', 'Lecture 2_Earth Science.pptx', 'lecture 4 Renewable Energy Resources.pptx', 'lecture 5 Non Renewable Energy Resources.pptx', 'Lecture 9 (OOPS).pdf', 'Lecture ppt for reference-20230301.zip', 'Let Us C++  by Yashavant  Kanetkar.pdf', 'linear_regression.py', 'logistic_regression.py', 'logs', 'McAfee_Installer_serial_hWDwH_Hu5wA75DwST3wh5Q2_key_affid_826_akey.exe', 'mcq-on-asymptotic-notations--5eea6a0c39140f30f369e0dd.pdf', 'MICC-F220.zip', 'Mini Project_ IV Sem and VI Sem 2023.xlsx', 'Minor (1).docx', 'minor paper.pdf', 'Minor project- Report prepartion.docx', 'Minor Sem 4 report .docx (1).pdf', 'Minor Sem 4 report .docx.pdf', 'Minor.docx', 'ML_Lab 7_221000060.pdf', 'model.pkl.ipynb', 'mongodb-windows-x86_64-7.0.4-signed.msi', 'MoU Theka Coffee.pdf', 'MSTeamsSetupx64_s_8DAD659F252FEE1-1-0_c_l_.exe', 'msys2-x86_64-20221028.exe', 'mtputty_setup.exe', 'multi_client.docx', 'My Movie 1.mov', 'mysql-installer-web-community-8.0.35.0.msi', 'nar6256_2.pdf', 'node-v18.17.1-x64.msi', 'Normal spine x ray.zip', 'notebook634b700832.ipynb', 'npp.8.4.7.Installer.x64.exe', 'null.pdf', 'O.S. LAB Assignments Jayant Dhidhi CSE 221000026.pdf', 'OfficeSetup.exe', 'OOPS Lab 2.pdf', 'OOPS Lab 3.pdf', 'OOPS Lab 4 (1).pdf', 'OOPS Lab 4.pdf', 'OOPS Lab 5.pdf', 'OOPS Lab 7.pdf', 'OOPS Lab 8.pdf', 'OOPS LAB 9.pdf', 'Orientation_Program_Schedule_2023.pdf', 'OS_Lab_221000060.pdf', 'OT.pdf', 'pca_face.py', 'pdfcoffee.com_data-structures-and-algorithms-narasimha-karumanchipdf-pdf-free.pdf', 'picturess.jpg.jpg', 'Pitch_ppt.pptx', 'plants.xlsx', 'plantsdatabase.csv', 'plantsdatabase.xlsx', 'PPT_Today.pptx', 'Pre-Install_Tool.exe', 'Presentation_midsem4.pptx.pdf', 'probability-statistics-for-engineers-scientists-9th-edition (1).pdf', 'probability-statistics-for-engineers-scientists-9th-edition.pdf', 'Program Schedule IEEE ICBDS_Internal Use_Updated.xlsx', 'Program Schedule IEEE ICBDS_Website_Final29 sep.pdf', 'Project.zip', 'putty-64bit-0.78-installer.msi', 'python project.pdf', 'python-3.11.0-amd64.exe', 'pytorch_course_env.yml', 'PYTORCH_NOTEBOOKS', 'PYTORCH_NOTEBOOKS.zip', 'Q.pdf', 'Raag Academy MoU.pdf', 'Raag Music Academy Proposal.docx (1).pdf', 'Raag Music Academy Proposal.docx.pdf', 'RajBhavan.stl', 'Resume Draft .docx (1).pdf', 'Resume Draft .docx (2).pdf', 'Resume Draft .docx.pdf', 'Resume Latest - Dec 2023.docx', 'Resume Latest - Dec 2023.pdf', 'Resume Latest - Jan 2024.pdf', 'Resume Mar 2024.docx', 'Resume Mar 2024.pdf', 'Resume-Latest (1).pdf', 'Resume-Latest.pdf', 'resume-template.docx', 'resume-template.pdf', 'Romeo_juliets_short_dance__(getmp3.pro).mp3', 'RoutingAlgos24_y.pdf', 's&a project report.pdf', 'sample-data.txt', 'sample_submission.csv', 'Sandwich Junction MOU (1).docx', 'Sandwich Junction MOU (1).pdf', 'Sandwich Junction MOU.docx', 'Sandwich Junction MOU.pdf', 'savefile sql-practice.com.json', 'Scintfic English brochure .pdf', 'screen-capture.webm', 'Screenshot 2023-09-03 155301.pdf', 'SecondDraft_UNCTAD (1).pdf', 'SecondDraft_UNCTAD.pdf', 'Sept 13th.pdf', 'sgd_linear_regresssion.py', 'Signals and Systems Assignment 5.pdf', 'SIGNALS AND SYSTEMS Lab 7.pdf', 'SIGNALS AND SYSTEMS.pdf', 'SignalsAndSystemsAssignment1..pdf', 'SignalsAndSystems_Assignments_VarshaSriNarla_221000060..pdf', 'SIITGOA-VARSHA-NARLA.pdf', 'sinusodial_signal_polynomial_regression.py', 'Slicing Methods.pdf', 'Social_Network_Ads.csv', 'Software Engineering.docx', 'Software engineering.pptx', 'SoftwareDevelopment_VarshaSriNarla_221000060.pdf', 'Solid Modeling STL File.pdf', 'Sparkcars MoU (1).pdf', 'Sparkcars MoU (2) (1).pdf', 'Sparkcars MoU (2).pdf', 'Sparkcars MoU.pdf', 'Sparkcars_IIIT_signed.pdf', 'Sparkcars_MoU_Signed.pdf', 'sqldeveloper-23.1.0.097.1607-x64', 'sqldeveloper-23.1.0.097.1607-x64.zip', 'Start up Talky MoU.pdf', 'Start up Talky MoU_signed.pdf', 'StartupTalky_square_png.png', 'Startup_Talky_MoU_Signed.pdf', 'static', 'STL MODE.zip', 'submit (1).csv', 'submit.csv', 'T.I.M.E Raipur.docx.pdf', 'Table3 (1).xls', 'Table3.xls', 'TDS23_Y.pdf', 'Technovate Team-1.pdf', "Technovate'24 Partnership Bochure.pdf", "Technovate'24 Partnership Brochure.pdf", 'Technovate_5.0.pdf', 'technovate_letterhead.docx', 'Tej Logistics Proposal .pdf', 'Test_dataset.mat', 'The Illustrated Longitude_ The True Story of a Lone Genius Who Solved the Greatest Scientific Problem of His Time ( PDFDrive ).pdf', 'The Mortal Instruments _ City of Bones ( PDFDrive ).pdf', 'Thomas Calculus 12th Edition (1).pdf', 'Thomas Calculus 12th Edition.pdf', 'Throne of Glass _ Rattle the Stars by lovelyowlsbooks.jpg', 'Tom And Jerry Theme Tune.mp3', 'Tp_D_CND_M_N_ani00018_sec00096_00138.tif', 'train.csv', 'Transaction_details_21-Jul-2024.pdf', 'Transport-Layer Protocols.pptx', 'TT(2).MP3', 'U2_NL1_y.pdf', 'UNCTAD_edited.pdf', 'UNIT-1_CN_Y - Copy.pdf', 'unnamed.png', 'UNSW-NB 15 Dataset ML Methods Comparison Notebook - Attack Type Classification .ipynb', 'Untitled Diagram.drawio', 'Untitled document.pdf', 'Untitled video - Made with Clipchamp.mp4', 'Uppenantha ee premaki lyrical song ..allu arjun..kajal..navdeep..arya2.mp3', 'Use Case .vpd.pdf', 'Use Case diagram (1).pdf', 'Use Case diagram.pdf', 'Varsha.blend', 'varsha.pdf', 'Varsha.stl', 'VarshaSriNarla_221000060 (2).pdf', 'VarshaSriNarla_221000060.pdf', 'varshasrinarla_roboticsassignment.py', 'Varsha_221000059_Whistle.stl', 'Varsha_221000060.pdf', 'Varsha_Hyderabad_Intern_120724.pdf', 'VisualStudioSetup.exe', 'VSCodeUserSetup-x64-1.73.1.exe', 'VSCodeUserSetup-x64-1.74.2.exe', 'VSCodeUserSetup-x64-1.74.3.exe', 'VSCodeUserSetup-x64-1.75.0.exe', 'VSCodeUserSetup-x64-1.80.1.exe', 'Weather Data.csv', 'webex.exe', 'WhatsApp Image 2024-02-19 at 4.44.53 PM.jpeg', 'WhatsApp Image 2024-02-19 at 4.45.16 PM.jpeg', 'WhatsApp Image 2024-02-19 at 4.45.17 PM.jpeg', 'WhatsApp Image 2024-02-19 at 4.45.18 PM (1).jpeg', 'WhatsApp Image 2024-02-19 at 4.45.18 PM.jpeg', 'WhatsApp Image 2024-04-08 at 8.42.26 PM.jpeg', 'WhatsApp Image 2024-04-13 at 1.50.40 PM.jpeg', 'WhatsApp Image 2024-05-03 at 2.44.46 PM.jpeg', 'WhatsApp Image 2024-05-03 at 2.44.49 PM.jpeg', 'WhatsApp Image 2024-06-30 at 6.35.38 PM.jpeg', 'WhatsApp Image 2024-06-30 at 8.39.23 PM.jpeg', 'WhatsApp Image 2024-07-01 at 8.16.01 AM.jpeg', 'WhatsApp Image 2024-07-08 at 10.41.40 AM.jpeg', 'WhatsApp Video 2024-02-22 at 10.30.25 PM.mp4', 'WhatsApp Video 2024-05-10 at 10.23.23 PM.mp4', 'WhatsApp Video 2024-05-10 at 4.18.50 PM.mp4', 'WhatsApp Video 2024-05-10 at 4.23.40 PM.mp4', 'WhatsApp Video 2024-05-10 at 4.34.01 PM.mp4', 'WhatsApp Video 2024-05-10 at 4.36.22 PM.mp4', 'WhatsApp Video 2024-05-10 at 4.42.34 PM.mp4', 'WhatsApp Video 2024-05-10 at 4.50.11 PM.mp4', 'WhatsApp Video 2024-05-10 at 5.05.45 PM.mp4', 'WhatsApp Video 2024-05-10 at 5.36.19 PM.mp4', 'WhatsApp Video 2024-05-10 at 5.36.22 PM.mp4', 'WhatsApp Video 2024-05-10 at 8.19.58 PM.mp4', 'WhatsApp Video 2024-05-10 at 9.58.35 PM.mp4', 'WINDOWS.X64_193000_db_home.zip', 'winedt11.exe', 'Wireshark-4.2.2-x64.exe', 'Wireshark_Intro_v8.0 (2).pdf', 'wsl_update_x64.msi', 'Xilinx_Vivado_SDK_2017.2_0616_1_Win64.exe', 'Y2meta.app - arya 2 bgm ringtone  - #alluarjun #arya2 (128 kbps).mp3', 'Your Ideal Customers & Problem.pdf', 'YTC Remarks.xlsx', 'YTC_FirstYear_Interviews.xlsx', 'Zoom_cm_ds_mkmKdOqI+OA6oFuVQfuSg4kvfcgu0sD6S3MJ9@ggOWyktJu1QmnLpN_k16fd47882c63423b_.exe', 'Zoom_cm_ds_muDnCDiCNGU6tYfwEXox+d6yI1lPogFT9Sfk6@-2Ce6LIPqvZjOHHn_ke87ae8c0c4044657_.exe', 'zopener_8a4800ea0a3f43f4bafd7706c1a4e7ee.log', 'ZTA_Module 1_Study Guide_Design_Copy.pdf']

In [211]:
pwd

'E:\\Users\\DELL\\Downloads'

In [213]:
os.chdir(os.pardir)

In [214]:
pwd

'E:\\Users\\DELL'

In [216]:
os.chdir('C:\\Users\\DELL')

In [217]:
pwd

'C:\\Users\\DELL'

In [218]:
os.listdir()

['.anaconda',
 '.android',
 '.bash_history',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.dotnet',
 '.eclipse',
 '.emulator_console_auth_token',
 '.git',
 '.gitconfig',
 '.gradle',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.lesshst',
 '.m2',
 '.matplotlib',
 '.mozilla',
 '.p2',
 '.spyder-py3',
 '.templateengine',
 '.thumbnails',
 '.VirtualBox',
 '.virtualenvs',
 '.vivado_hls',
 '.vscode',
 '.Xilinx',
 '100-days-of-ml.ipynb',
 '41MUX',
 'Alexenet skeleton yt.ipynb',
 'Alexnet skeleton.ipynb',
 'anaconda3',
 'AppData',
 'Application Data',
 'aug_test.csv',
 'Banglore House Price Prediction.ipynb',
 'bangloreHouse.zip',
 'battery-report.html',
 'bintogray',
 'Bivariate Analysis .ipynb',
 'books',
 'books.csv',
 'Breast_cancer_Data.csv - Breast_cancer_Data.csv.csv',
 'C',
 'calc',
 'clatwobit',
 'Cleaning Industrial Dataset .ipynb',
 'Contacts',
 'Cookies',
 'counter',
 'data',
 'data.zip',
 'Desktop',
 'DFF',
 'DFF2',
 'displayhelloworld',
 'Documents',
 'DPP_FInal_Apr14.ipynb',
 'DPP_Report_Dataset.csv',
 'eclipse',
 'example.csv',
 'face_data.csv',
 'Favorites',
 'Feature Engineering .ipynb',
 'flutter_windows_3.7.10-stable',
 'Full_Adder',
 'gold dataset_investing.xlsx - Monthly.csv',
 'Gold_Daily_dataset.csv',
 'Gold_Price_monthly_dataset.csv',
 'Hospital-Management-System',
 'HospitalManagementSystem',
 'Hospital_Management_system',
 'ice_breaker',
 'Im100_2_cm.jpg',
 'Im100_2_col.jpg',
 'Im100_2_r.jpg',
 'Im100_3_cm.jpg',
 'Im100_3_col.jpg',
 'Im100_3_r.jpg',
 'Im100_4_cm.jpg',
 'Im98_3_r.jpg',
 'Im98_4_col.jpg',
 'Im99_2_cm.jpg',
 'Im99_2_col.jpg',
 'Im99_2_r.jpg',
 'Im99_3_cm.jpg',
 'Im99_3_col.jpg',
 'Im99_3_r.jpg',
 'Im99_4_r.jpg',
 'Java',
 'Jedi',
 'JKFF',
 'JKFF2',
 'JsonPractice.ipynb',
 'Kmeans_Clustering_Images.jpg',
 'Kmeans_Clustering_Images.jpg.zip',
 'Links',
 'Local Settings',
 'logs',
 'Making dataframe (api).ipynb',
 'Making Dataset One.ipynb',
 'minor',
 'Minor prep.ipynb',
 'ML lab 1.ipynb',
 'ML Lab Exam.ipynb',
 'ML Lab experiments .ipynb',
 'ML Lab Gold daily.ipynb',
 'movies.csv',
 'Music',
 'My Documents',
 'MyMobileApp',
 'my_flask_project',
 'NetHood',
 'Neural Network.ipynb',
 'Normal spine x ray.zip',
 'NormalSpineExtracted',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'pandas profiling.ipynb',
 'path',
 'picturess.jpg',
 'Pipfile',
 'Pipfile.lock',
 'Practice',
 'Practice.ipynb',
 'PrintHood',
 'PYTORCH_NOTEBOOKS.zip',
 'react-website-yt-1',
 'RealTimeObjectDetection',
 'Recent',
 'RIAWELC',
 'rippleaddertwobit',
 'Saved Games',
 'Searches',
 'SendTo',
 'Social_Network_Ads.csv',
 'source',
 'Start Menu',
 'Templates',
 'TEST',
 'Test2',
 'train.csv',
 'train.json.zip',
 'Udemy Course 1.ipynb',
 'Understanding data.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'vgg 19 code .ipynb',
 'Videos',
 'VirtualBox VMs',
 'Vision-Transformer',
 'Web Scraping .ipynb']

In [220]:
df=pd.read_csv('example.csv')

In [221]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [222]:
df=pd.read_csv('bank.csv')

In [223]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [225]:
df[:5]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [226]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [227]:
df['age'].mean()

41.17009511170095

In [232]:
len(df['job'].unique())

12

In [233]:
df['job'].value_counts()

job
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: count, dtype: int64

In [238]:
len(df[df['marital']=='married'])

2797

In [241]:
import torch

In [242]:
torch.__version__

'2.2.1+cpu'

In [243]:
arr=np.arange(0,11)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [244]:
x=torch.from_numpy(arr)

In [245]:
x

tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=torch.int32)

In [247]:
x.dtype

torch.int32

In [248]:
x=torch.as_tensor(arr)

In [249]:
x

tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=torch.int32)

In [250]:
arr2d=np.arange(0,10).reshape(5,2)

In [252]:
arr2d

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [254]:
arr2d=torch.from_numpy(arr2d)

In [255]:
arr2d

tensor([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]], dtype=torch.int32)

In [256]:
arr[0]=99

In [257]:
arr

array([99,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [258]:
x #creates a direct link between tensor and array

tensor([99,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=torch.int32)

In [259]:
arr=np.arange(0,10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [260]:
ten1=torch.from_numpy(arr)
ten1

tensor([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=torch.int32)

In [261]:
ten2=torch.tensor(arr)
ten2

tensor([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=torch.int32)

In [262]:
arr[0]=999
arr

array([999,   1,   2,   3,   4,   5,   6,   7,   8,   9])

In [263]:
ten1 #the tensor created using 'from numpy' is a direct link to the original array. so the changes made will be reflected

tensor([999,   1,   2,   3,   4,   5,   6,   7,   8,   9], dtype=torch.int32)

In [264]:
ten2 #is a copy of the array used. so changes not reflected

tensor([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=torch.int32)

In [268]:
torch.zeros(3,3, dtype=torch.int32)

tensor([[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]], dtype=torch.int32)

In [270]:
torch.arange(0,11,2).reshape(3,2)

tensor([[ 0,  2],
        [ 4,  6],
        [ 8, 10]])

In [271]:
torch.linspace(0,1,20)

tensor([0.0000, 0.0526, 0.1053, 0.1579, 0.2105, 0.2632, 0.3158, 0.3684, 0.4211,
        0.4737, 0.5263, 0.5789, 0.6316, 0.6842, 0.7368, 0.7895, 0.8421, 0.8947,
        0.9474, 1.0000])

In [272]:
torch.randn(5,5)

tensor([[ 1.3586, -0.5126,  0.0585,  1.9515,  1.2679],
        [ 0.8470, -0.9113,  0.7781, -1.1506, -0.7846],
        [-0.2239, -0.2956, -0.4874, -1.0736, -0.2174],
        [ 1.0470, -0.2734,  0.7336,  0.0059, -1.0658],
        [ 0.1044, -0.8692, -0.4309, -1.4056, -0.5677]])

In [273]:
torch.randint(low=0,high=11,size=(5,5))

tensor([[ 7,  4,  9,  1,  2],
        [ 9,  0, 10,  6,  6],
        [10,  4,  7,  6,  6],
        [ 6, 10,  5,  1,  6],
        [ 4,  5, 10,  2,  6]])

In [280]:
arr=np.arange(0,6)
arr

array([0, 1, 2, 3, 4, 5])

In [282]:
x=torch.arange(0,6)
x

tensor([0, 1, 2, 3, 4, 5])

In [283]:
x.view(3,2) #changes not reflected in original array, but latest data is shown.

tensor([[0, 1],
        [2, 3],
        [4, 5]])

In [284]:
x

tensor([0, 1, 2, 3, 4, 5])

In [287]:
x.reshape(3,2) #changes reflected, dunno why its not showing up here
x

tensor([0, 1, 2, 3, 4, 5])

In [290]:
x=torch.arange(50)
x

tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [293]:
x.view(-1,5)  #-1 realises what the missing dimension should be

tensor([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]])

In [322]:
a=torch.tensor([1,3,5,7])
b=torch.tensor([2,4,6,8])

In [323]:
a

tensor([1, 3, 5, 7])

In [324]:
b

tensor([2, 4, 6, 8])

In [325]:
a+b

tensor([ 3,  7, 11, 15])

In [326]:
a.mul(b) #just shows the answer, doesn't store anywhere

tensor([ 2, 12, 30, 56])

In [327]:
a.mul_(b) # reassigns the answer to a because of the underscore

tensor([ 2, 12, 30, 56])

In [328]:
a.dtype

torch.int64

In [329]:
b.dtype

torch.int64

In [330]:
a.dot(b)

tensor(680)

In [331]:
a=torch.tensor([[1,2,3],[4,5,6],[7,8,9]])

In [332]:
b=torch.tensor([[10,11,12], [13,14,15],[16,17,18]])

In [333]:
a.shape

torch.Size([3, 3])

In [334]:
b.shape

torch.Size([3, 3])

In [335]:
a.dtype

torch.int64

In [336]:
b.dtype

torch.int64

In [337]:
torch.mm(a,b)

tensor([[ 84,  90,  96],
        [201, 216, 231],
        [318, 342, 366]])

In [338]:
a.numel()

9

In [343]:
np.random.seed(42)
torch.manual_seed(42)

In [344]:
arr=np.random.randint(0,5,6)
arr

array([3, 4, 2, 4, 4, 1])

In [345]:
x=torch.tensor(arr)
x

tensor([3, 4, 2, 4, 4, 1], dtype=torch.int32)

In [346]:
x=x.type(torch.int64)

In [347]:
x.dtype

torch.int64

In [370]:
x=x.reshape(3,2)
x

tensor([[0, 0],
        [2, 4],
        [4, 1]])

In [371]:
x[:, 1].reshape(3,1)

tensor([[0],
        [4],
        [1]])

In [372]:
y=torch.clone(x)

In [377]:
y=y.mul(y)

In [378]:
y

tensor([[100, 100],
        [  4,  16],
        [ 16,   1]])

In [379]:
x.shape

torch.Size([3, 2])

In [385]:
y=torch.randint(0,5,(2,3))
y

tensor([[2, 2, 1],
        [4, 1, 0]])

In [386]:
x.mm(y)

tensor([[ 0,  0,  0],
        [20,  8,  2],
        [12,  9,  4]])

In [1]:
import os
print(os.getcwd())  # This prints the current working directory (where the notebook is saved)

C:\Users\DELL